.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  text-align: center;
  border-bottom: solid 1px #e8e8e8;
  height: 4rem;
  width: 100%;
  padding: 0 2rem;
  margin: 0;
}

.nav-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 2rem;
    margin: 0;
}

.logo-img {
    height: 100%;
    width: 100px;
    padding: 0 2rem;
    margin: 0;
}

.logo-title {
  display: flex;
  /* font-family: var(--montserrat); */
  font-size: 1.875rem;
  font-weight: 800;
  font-weight: bold;
  color: #0290ff;
  text-align: justify;
  min-width: 16rem;
  margin: 0;
  padding: 0;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 1rem;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.list-item {
  display: flex;
  /* font-family: var(--montserrat); */
  font-size: 0.9rem;
  letter-spacing: 1.9px;
  text-decoration: none;
  color: #121212;
  padding: 0.5rem;
}

.nav-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #121212;
    padding: 0.5rem;
}

.nav-link:active {
    text-decoration: underline;
}
